trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
  - checkout: self
    submodules: true
  - task: AzureStaticWebApp@0
    inputs:
      app_location: '/WebSite'
      api_location: '/api'
      output_location: 'dist/WebSite'
    env:
      azure_static_web_apps_api_token: $(deployment_token)